<!DOCTYPE html>


<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>The site was created by PSR. It uses data from mapbox.com and Darksky.net</p>
        <img class="portrait" src="/img/MyPicture.JPG">
        </div>


        {{>footer}}
    </body>
</html>